INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=my-token
INFLUX_ORG=my-org
INFLUX_BUCKET_PRICES=ib_prices
INFLUX_BUCKET_PRICES_1H=ib_prices_1h
INFLUX_BUCKET_DATA_LIVE=ib_data_live
INFLUX_BUCKET_DATA_PAPER=ib_data_paper
RODSIC_STRAT_URL=http://localhost:8002
